/* The switch - the box around the slider */
.switchOff {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
}

.switchOn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #2196F3;
}

.sliderOff {
  position: absolute;
  cursor: pointer;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.sliderOn {
  position: absolute;
  cursor: pointer;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
